<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotale - Navbar</title>
</head>
<body>
<!-- Fragment cho Navbar -->
<div th:fragment="navbar">
    <div class="top-bar">
        <span>☎ +024 242 0777</span>
        <a href="mailto:info@webhotel.vn">✉ info@webhotel.vn</a>
    </div>
    <nav class="navbar">
        <div class="navbar-container">
            <div class="nav-links left-links">
                <a th:href="@{/}">HOME</a>
                <a href="">ABOUT US</a>
                <a href="">GALLERY</a>
                <a href="">SERVICES</a>
            </div>
            <div class="logo-container">
                <img src="https://res.cloudinary.com/dd8ryf97c/image/upload/v1745501463/yhjpcnwoxmdcos6q8aui.png" class="logo" alt="Hotale Logo">
            </div>
            <div class="nav-links right-links">
            <a href="#">BLOGS</a>
                <div sec:authorize="isAuthenticated()">
                    <a th:href="@{/logout}" class="logout-btn">Logout</a>
                </div>
                <div sec:authorize="isAnonymous()">
                    <a th:href="@{/login}" class="login-btn">Login</a>
                </div>
            <div class="language-switcher-container">
                <button class="language-switcher">LANGUAGE</button>
                <div class="language-dropdown">
                    <a href="#" class="language-option">English</a>
                    <a href="#" class="language-option">Vietnamese</a>
                </div>
            </div>
            <button class="book-now-btn">BOOK NOW</button>
        </div>
        </div>
    </nav>
</div>
</body>
</html>